@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@variant dark (&:where(.dark, .dark *));

html,
body {
  min-height: 100%;
  background-color: #f5f5f5;
}

html.dark,
html.dark body {
  background-color: #0a0a0a;
}
